nav{
    /* border: .2rem solid yellow; */
    width: 10rem;
    background-color: #eee;
    padding: 0.5rem;
}

footer {
    /* border: .2rem solid green; */
        height: 4rem;
        padding: .5rem;
        background-color: #252323;
        color: #eee;  

}